<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Usage Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="page-bg"></div>
    <main class="shell">
      {% block content %}{% endblock %}
    </main>
       <footer class="bg-dark text-light py-3 mt-auto">
        <div class="container text-center">
            <p class="mb-1">
                <a href="https://devon-gs.github.io/" class="text-light text-decoration-none" title="coded by" target="_blank">
                    Coded by Devon - Redfire IT Solutions © <span id="year"></span>
                </a>
            </p>
            <p class="mb-0 small">
			    <a href="https://www.flaticon.com/free-icons/stock" class="text-light text-decoration-none opacity-75" title="stock icons" target="_blank">
                    Icons created by Hilmy Abiyyu A. - Flaticon
                </a>
            </p>
        </div>
    </footer>
    </div>
  </body>
</html>
